.menu--account {
  .menu-item {
    @include breakpoint($desktop-devices) {
      margin-right: 0.5rem;
    }

    a {
      background: $selective-yellow;
      color: $grey;
      font-weight: 900;
      letter-spacing: 0.025rem;
      padding: 0.75rem 0.8125rem;
      text-align: center;
      text-decoration: none;

      @include breakpoint($desktop-devices) {
        border-radius: 0.25rem;
        padding: 0.5rem 1rem;
        font-size: 1rem;
      }

      &:focus,
      &:hover {
        background-color: $sunglow;
      }
    }
  }
}

.region-secondary-menu {
  display: flex;
  align-items: center;
  position: relative;

  @include breakpoint($upto-desktop) {
    max-width: 12.5rem;
    position: absolute;
    top: 0;
    right: 3.0625rem;
  }

  @include breakpoint($desktop-devices) {
    margin-left: 0.3125rem;
  }

  .menu--account {
    @include breakpoint($upto-desktop) {
      display: none;
    }
  }
}
