.message {
  padding: 0.875rem 0;
  margin-bottom: 1.5rem;
  color: $white;
  background-color: $selective-yellow;
  border: 1px solid $sunglow;
  border-radius: 3px;
  font-weight: 600;

  a {
    color: $white;
    text-decoration: underline;

    &:focus,
    &:hover {
      text-decoration: none;
    }
  }

  p {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }

  &.messages--status {
    background-color: $cornflower-blue;
    border: 1px solid $light-purple;
  }

  &.messages--error {
    background-color: $rose;
    border: 1px solid $rose;
  }

  button,
  .button {
    border: none;
    border-radius: 0.25rem;
    display: inline-block;
    letter-spacing: 0.025rem;
    font-size: 1rem;
    line-height: 1;
    font-weight: 900;
    margin: 0;
    padding: 0.75rem 1.25rem;
    text-align: center;
    text-decoration: none;
    background-color: $selective-yellow;
    color: $pantone;

    &:focus,
    &:hover {
      text-decoration: none;
      background-color: $sunglow;
    }
  }

  form[name="auth0VerifyEmail"] {
    .button {
      display: none;
    }
  }
}

.message--content {
  max-width: 72.5rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}
