$black: #000;
$black-transparent: rgba(0, 0, 0, 0.1);
$shark: #33363b;
$pantone: #333;
$nero: #212121;
$white-whisper: #eaeaea;
$white-shadow: #e4e4e4;
$white: #fff;
$white-smoke: #f5f5f5;
$smoke: #f0f0f0;
$white-smoke-light: #f1f1f1;
$white-smoke-lighter: #f2f2f2;
$gainsboro: #ddd;
$gainsboro-light: #eee;
$gray-silver: #aaa;
$baltic-sea: #32373c;
$grey: #444;
$space-grey: #777;
$hexa: #999;
$hexa-light: #bbb;
$brownish-grey: #666;
$grey-ash: #ccc;
$grey-light: #f2f2f2;
$white-transparent: rgba(255, 255, 255, 0.06);
$white-translucent: rgba(255, 255, 255, 0.9);
$purple-grey: #848fbc;
$cornflower-blue: #4e5e9e;
$sapphire: #38447a;
$light-purple: #425090;
$calypso: #3b4882;
$light-purple-transparent: rgba(61, 72, 121, 0.95);
$mystic: #d4dbe3;
$purple-shadow: rgba(66, 80, 144, 0.95);
$purple-shadow-light: rgba(66, 80, 144, 0.9);
$free-speech-blue: #1b2b6b;
$tory-blue: #3f4c7f;
$selective-yellow: #ffb900;
$sunglow: #ffc733;
$golden-brown: #996208;
$rust-brown: #5e3c05;
$rose: #c7254e;
$light-sea-green: #35b5b9;
$caribbean-green: #00bf9a;
$turquoise-light: #00cca4;
