{#
/**
 * @file
 * Default theme implementation to display a list of terms.
 *
 * Available variables:
 * - children: A list of terms
 *
 * @ingroup themeable
 */
#}
<div class="wrapper tagclouds">
  {{children}}
</div>
