.view-blog-recent-comments {
  .views-field-user-picture {
    img {
      max-width: 3rem;
      margin-right: 0.875rem;
    }
  }

  .recent--comment-details {
    font-weight: 400;
    line-height: 1.35;
  }

  .recent--comment-username {
    color: $brownish-grey;
    font-size: 0.75rem;
    display: block;
    text-transform: uppercase;
    line-height: 1.6;
  }

  .recent--comment-text {
    color: $grey;
    display: block;
    font-size: 0.9375rem;
    margin-top: 0.125rem;
    margin-bottom: 0.125rem;
  }

  .views-row {
    display: flex;
    padding: 0.625rem 0;
    border-bottom: 1px solid $white-shadow;

    &:focus,
    &:hover {
      img {
        opacity: 0.9;
      }

      .recent--comment-text {
        color: $cornflower-blue;
      }
    }
  }
}
