.localized-page {
  .paragraph-contact-form {
    background-color: #eff2fb;
  }

  .localized-container {
    &.contact-form__wrappar {
      padding-block: 140px 100px;
      display: flex;
      gap: 30px;

      @include breakpoint($upto-desktop) {
        padding-block: 116px 74px;
        flex-wrap: wrap;
      }

      @include breakpoint($upto-tablet) {
        padding-block: 127px 55px;
      }

      .contact-form__content,
      .contact-form__mautic {
        flex: 0 50%;

        @include breakpoint($upto-desktop) {
          flex: 0 100%;
        }
      }

      .contact-form__mautic {
        align-self: flex-end;

        .mauticform_wrapper {
          max-width: 100%;
          margin: 0;
        }
      }

      .mauticform-innerform {
        padding: 0;
        margin: 0;
        border: 0;
        background-color: transparent;
        box-shadow: none;

        .mauticform-required {
          margin-bottom: 18px;
        }

        input,
        textarea {
          font: normal normal normal 18px/23px $secondary-font;
          letter-spacing: 0;
          color: #afafaf;
          border: 1px solid #4e5e9e80;
          border-radius: 0.5rem;
          padding: 18px 26px 17px 26px;
        }

        textarea {
          min-height: 152px;
          resize: none;
        }

        p,
        label {
          font: normal normal normal 20px/28px $secondary-font;
          letter-spacing: 0;
          color: #4e5e9e;
        }

        .mauticform-button-wrapper {
          margin-bottom: 0;
        }

        .mauticform-button {
          width: 100%;
          margin: 0;
          background: #fdb933 0% 0% no-repeat padding-box;
          border-radius: 8px;
          font: normal normal 600 18px/23px $secondary-font;
          letter-spacing: 0;
          color: #4e5e9e;
          padding: 17px 20px 18px 20px;

          &:focus,
          &:active {
            outline: 2px solid #fdb933;
            outline-offset: 2px;
          }
        }

        .mauticform-checkboxgrp-row {
          display: flex;
          align-items: center;
          gap: 10px;

          input {
            width: 20px;
            height: 20px;
          }
        }
      }

      .contact-form__content {
        h5 {
          margin: 0 0 18px 0;
          font: normal normal normal 20px/34px $secondary-font;
          letter-spacing: 0;
          color: #333;

          @include breakpoint($upto-desktop) {
            font: normal normal normal 20px/20px $secondary-font;
          }

          @include breakpoint($upto-tablet) {
            text-align: center;
            font: normal normal normal 20px/34px $secondary-font;
          }
        }

        h2 {
          font: normal normal bold 48px/48px $secondary-font;
          letter-spacing: 0;
          color: #4e5e9e;
          margin: 0 0 18px 0;

          @include breakpoint($upto-desktop) {
            font: normal normal bold 48px/48px $secondary-font;
          }

          @include breakpoint($upto-tablet) {
            text-align: center;
            font: normal normal bold 36px/44px $secondary-font;
          }
        }

        p,
        li {
          color: #4e5e9e;
          font: normal normal normal 24px/34px $secondary-font;

          @include breakpoint($upto-desktop) {
            font: normal normal normal 24px/34px $secondary-font;
          }

          @include breakpoint($upto-tablet) {
            font: normal normal normal 20px/24px $secondary-font;
          }
        }

        p span {
          font: normal normal normal 20px/28px $secondary-font;
          letter-spacing: 0;
        }
      }
    }
  }
}
