.view-node-blog-category {
  position: relative;
  padding: 0 0.9375rem 0.75rem;
  border-bottom: 1px solid $gainsboro-light;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  text-transform: uppercase;
  margin: -0.1875rem -0.9375rem 1.875rem;

  @include breakpoint($tablet-devices) {
    padding: 0 1.875rem 1.0625rem;
    margin: -0.75rem -1.875rem 1.875rem;
  }

  a {
    color: $gray-silver;

    &:hover {
      color: $grey;
    }
  }

  .views-row {
    display: flex;
    justify-content: space-between;
  }

  .views-field-comment-count {
    a:hover {
      color: $grey;
    }
  }
}
