.region-sidebar {
  .flippy {
    @include clean-list;

    margin: 0 -0.9375rem;

    @include breakpoint($tablet-devices) {
      margin: 0 -1.875rem;
    }

    .flippy-previous {
      &::before {
        @include font-icon;

        content: "\f053";
        display: inline-block;
        font-size: 1.125rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0.9375rem;
        color: $hexa-light;
        text-decoration: none;
      }
    }

    .flippy-next {
      &::after {
        @include font-icon;

        content: "\f054";
        display: inline-block;
        position: absolute;
        font-size: 1.125rem;
        top: 50%;
        transform: translateY(-50%);
        right: 0.9375rem;
        color: $hexa-light;
      }
    }

    .flippy-previous,
    .flippy-next {
      position: relative;

      span {
        position: absolute;
        left: 0;
        right: 0;
        font-size: 0.75rem;
        text-transform: uppercase;
        color: $brownish-grey;
        letter-spacing: 0.5px;
        font-weight: 400;
        top: 1.5rem;
      }

      &:focus,
      &:hover {
        span {
          text-decoration: underline;
          text-decoration-color: $grey;
        }

        &::before,
        &::after {
          color: $cornflower-blue;
        }
      }
    }

    li {
      display: block;
      text-align: center;
      white-space: normal;
      padding: 0;

      a {
        font-size: 0.9375rem;
        color: $nero;
        position: relative;
        display: block;
        padding: 2.8125rem 3.75rem 1.5rem;
        border-bottom: 1px solid $gainsboro;

        &:focus,
        &:hover {
          background-color: rgba(0, 0, 0, 0.02);
        }
      }
    }
  }
}
